<p>Below are the highest jumps as recorded by <a href="https://surfr-leaderboard.vercel.app/">Surfr</a> and <a href="https://leaderboards.woosports.com/?feature=height&game_type=big_air">Woo</a>. Results can take up to 24 hours to be displayed here.</p>
<table id='results' class='centre-table'>
    <thead>
        <tr>
            <th>Position</th>
            <th>Source</th>
            <th>Rider</th>
            <th>Height (m)</th>
        </tr>
    </thead>
    <tbody>
        <% @jumps.each do |jump| %>
            <tr>
                <td><%= jump[:position] %></td>
                <td><%= jump[:source] %></td>
                <td><%= jump[:name] %></td>
                <td><%= jump[:height] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
