<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Big Air Combined Leaderboard</title>
        <meta name="description" content="Kiteboarding Big Air Combined Leaderboard">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="stylesheet.css">
    </head>

    <body>
        <div class="body-container">
            <header id='header'>
                <h1 id='title' class="text-center text-3xl py-8 px-5 bg-sky-500 text-white">
                    Kiteboarding Big Air Combined Leaderboard
                </h1>
            </header>

            <main>
                <%= yield %>
            </main>

            <footer id='footer' class="text-center mt-8 py-8 bg-sky-500 text-white">
                <small>Copyright © 2025 <a href="mailto:micky_t@ymail.com" class="underline">Michael Telford</a></small>
            </footer>
        </div>
    </body>
</html>
